@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Assignment</h1>
    <p class="lead">This assignment showcases some of my MVC skills.  It also shows some of my problem solving ability.  I used a couple design patterns in the code.  Please let me know if you have any questions.</p>
    @if (!Request.IsAuthenticated)
    {
        <h2>FEEL FREE TO REGISTER AND LOGIN</h2>
    }
</div>